p {
    line-height: 16px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-indent: 30px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
}

body {
    border: 1px solid rgb(0, 0, 0);
}


h2 {
    border-bottom: 2px solid #333333;
}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 0, 0);
}

h2 {
    background-color: #f2eded;
}

h1 {
    padding: 10px;
}

h2 {
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    padding: 15px;
    margin: 30px;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#centro-distibuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

p::first-line {
    font-variant: small-caps;
}

.menu-opções a:hover {
    color: #007DC6
}

.menu-opções a:active {
    color: #867d86
}